<%# <div class="row">
  <div class="jumbotron">
    <div class="col-md-">
      <h1 class="display-4" style="font-style: italic">Where will life take you next?</h1>
      <hr class="my-4">
    </div>
    <div class="col-md-6">
      
    <%# </div>
  </div>
</div>  %>
<div>
<h1 class="fst-italic text-center">Where will life take you next?</h1>
<%= image_tag "home.jpeg", class: "w-100 rounded mx-auto mt-2 mb-5" %>
</div>